@import "./colors/lospec500.scss";

$color1:  $red;
$color2:  $green;
$color3:  $blue;
$color4:  $dark-blue;
$color5:  $light-blue;
$color6:  $yellow;
$color7:  $peach;
$color8:  $purple;
$color9:  $dark-navy;
$color10: $teal;
$color11: $mint;
$color12: $active;
$color13: $selected;
$color14: $urgent;
$color15: $gray;

$background: $background;
$tr:        $tr ;
$foreground: $foreground;
