
.powerbutton {
  color: $color1;
  font-size: 1.3em;
  font-weight: bold;
  &:hover { color: $color2; }
}
.btn_power { 
  margin-right: 5px;
}
.powermenu {
  background-color: $tr;
  color: $color12;
  padding: 20px;
  font-family: IosevkaArabic Nerd Font;
  font-size: 4.2em;
  border-radius: 6px;
  button {
    border-radius: 12px;
    transition: all ease .2s;
    &:hover { background-color: $background; }
    &:active { background-color: $tr; }
    .content {
      border-radius: 4px;
      padding: 0px 4px 0px 4px;
    }
  }
  .shutdown { color: $color1; }
  .reboot { color: $color2; }
  .logout { color: $color3; }
  .lock { color: $color10; }
  .suspend { color: $color7; }
}
.powermenu-clickhandler {
  background-color: transparent;
}

