.time_box {
    margin-top: -10px;
    margin-bottom: -10px;
}
.time { 
  color: $color6;
  font-size: 20px;
  margin-bottom: -20px;
  margin-top: -20px;
  font-weight: bold;
  font-family: Roboto;
}
.type {
  font-size: 14px;
  margin-bottom: -10px;
  margin-left: 5px;
}
.date {
    color: $color6;
    font-size: 12px;
    margin-top: 8px;
    margin-left: 5px;
    font-weight: bold;
}
.date-box{
  font-weight: bold;
  color: $color14;
   &:hover { color: $foreground; }
}
.btn_date {
  border-radius: 7px;
  background-color: $color3;
  margin: 5px;
  padding: 0 5px;
}
// calendar
.cal-box {
  background-color: $color9;
  border-radius: 7px;
  padding: .1rem .1rem .1rem;

  .cal {
    background-color: inherit;
    padding: .8rem .2rem 0rem;
    margin-left: 10px;

    & > * {
      border: solid 0px transparent;
    }
    
    &.highlight {
      padding: 5rem;
    }
  }
}

calendar:selected {
  color: $color13;
}

calendar.header {
  color: $color5;
  font-weight: bold;
}

calendar.button {
  color: $color5;
}

calendar.highlight {
  color: $color12;
  font-weight: bold;
}

calendar:indeterminate {
  color: rgba(205, 219, 249, 0.3);
}

