* {
  bg:			rgba(22,15,24, 0.5);
  bg-alt:		#2c1e31;
  fg:			#f6e8e0;
  urgent:		#6b2643;
  selected:		#3859b3;
  active:		#006554;
  gray:			#3c3c3c;
  dark-gray: 	#2b2b2b;
  dark-blue:	#3e3b65;
  light-blue:	#3388de;
  yellow:		#f7f3b7;
  purple:		#cc99ff;
  peach:		#de5d3a;
  teal:			#26854c;
  mint:			#5ab552;
  dark-navy:	#1e4044;
}
