.kb_box {
    color: $color6;
    font-size: 10px;
    margin-left: 1px;
    font-weight: bold;
}
.kb_button_active {
    font-size: 10px;
    color: $color1;
    background-color: $color1;
}
.kb_button_inactive {
    font-size: 12px;
    color: $color6;
    background-color: $color6;
}
