.workspace-focused {
  font-family:Material Design Icons Desktop;
  font-size: 18px;
  color: $color6;
  padding: 0px 5px;
}

.workspace-occupied {
  font-family: Material Design Icons Desktop;
  font-size: 18px;
  color: $color1;
  padding: 0px 5px;
}

.workspace-empty {
  font-family: Material Design Icons Desktop;
  font-size: 14px;
  color: $color9;
  padding: 0px 5px;
}

