$urgent:#6b2643;
$peach:#de5d3a;
$yellow:#e98537;
$orange:#f7f3b7;
$dark-navy:#1e4044;
$green:#006554;
$teal:#26854c;
$mint:#5ab552;
$dark-blue:#3e3b65;
$blue:#3859b3;
$light-blue:#3388de;
$purple:#cc99ff;
$active: #9a4d76;
$selected: #9de64e;
$red:#9a243f;
$gray: #3c3c3c;
$foreground:#f6e8e0;
$background: rgba(22,15,24, 0.5);
$tr:#2c1e31;
