$red: #b13e53;
$green: #a7f070;
$blue: #41a6f6;
$dark-blue: #29366f;
$light-blue: #73eff7;
$yellow: #ffcd75;
$peach: #ef7d57;
$purple:#b13e99; 
$dark-navy: #291666;
$teal :#38b764;
$active: #566c86;
$mint: #3b5dc9;
$selected: #257179;
$urgent: #5d275d;
$gray: #94b0c2;


$background: #1a1c2c;
$tr: #333c57;
$foreground: #f4f4f4;

