
$black: #000000;
$red: #ff0000;
$green: #00ff00;
$blue: #0000ff;
$dark-blue: #000087;
$light-blue: #00ffff;
$yellow: #fff000;
$peach: #d65d0e;
$orange: #ffaf00;
$purple: #800080;
$dark-navy: #1a1a57;
$gray: #808080;
$teal: #008080;
$mint: #808000;
$active: #008000;
$selected: #0000ff;
$urgent: #870000;
$magenta: #ff00ff;

$foreground: #ffffff;
$background: $black;
$tr: #222222;
$dark-gray: #1c1c1c;
