$foreground: 			#D9E0EE;
$background: 			#1E1E2E;
$tr: 		            #213244;
$red:			#f36ba8;
$green:			#ccffad;
$blue:		#62a4ff;
$light-blue:		#74c7ec;
$dark-blue:		#110841;
$urgent:			#a6e3a1;
$selected:		#89b4fa;
$active:			#f38ba8;
$dark-navy: 		#313254;
$light-gray:		#cdd6f4;
$gray: 			#585b70;
$yellow: 		#f9e2af;
$purple: 		#cba6f7; 
$peach: 			#fab387;
$teal: 			#94e2d5;
$mint: 			#89dceb;
